* {
    margin: 0;
    padding: 0;

}
body{

    background-color: #240046;
    color: white;
}
.button:hover {
    color: black;
    border-top: 4px solid #9d4edd;
    border-bottom: 4px solid #9d4edd;
    border-left: 4px solid #9d4edd;
    border-right: 4px solid #9d4edd;
}
#buttons{
    margin: auto;
    width: 17%;
    padding: 10px;
    
   
}
#buttontext{
    margin: auto;
    width: 20%;
    padding: 10px;
    
}
#backtoindex{
    height: 100vh;
    width: 100%;
    background-color: #240046;
    color: white;
}
#nav {
    height: 10%;
    background-color: #240046;
    overflow:hidden;
    border: solid black;
    color: white;
}
#Naam {
    float: left;
    font-size: 160%;
    margin: 30px;
    margin-right: 150px;
    color: white;
}
#projecten{
    float: left;
    font-size: 160%;
    margin: 30px;
    margin-right: 150px;
    color: white;
}
#code{
    float: left;
    font-size: 160%;
    margin: 30px;
    margin-right: 150px;
    color: white;
}
#code:hover{
    color: black;
    border-top: 2px solid #9d4edd;
    border-bottom: 2px solid #9d4edd;
    border-left: 2px solid #9d4edd;
    border-right: 2px solid #9d4edd;
}
#projecten:hover {
    color: black;
    border-top: 2px solid #9d4edd;
    border-bottom: 2px solid #9d4edd;
    border-left: 2px solid #9d4edd;
    border-right: 2px solid #9d4edd;
}
#profile {
    float: left;
    font-size: 160%;
    margin: 30px;
    margin-right: 150px;
}
#profile:hover {
    color: black;
    border-top: 2px solid #9d4edd;
    border-bottom: 2px solid #9d4edd;
    border-left: 2px solid #9d4edd;
    border-right: 2px solid #9d4edd;
}
#career{
    color: white;
    float: left;
    font-size: 160%;
    margin: 30px;
    margin-right: 150px;
}
#career:hover {
    color: black;
    border-top: 2px solid #9d4edd;
    border-bottom: 2px solid #9d4edd;
    border-left: 2px solid #9d4edd;
    border-right: 2px solid #9d4edd;
}
#contact{
    float: left;
    font-size: 160%;
    margin: 30px;
    margin-right: 150px;
    color: white;

}
#contact:hover {
    color: black;
    border-top: 2px solid #9d4edd;
    border-bottom: 2px solid #9d4edd;
    border-left: 2px solid #9d4edd;
    border-right: 2px solid #9d4edd;
}
a{
    color: white;
}

#gif {
    
    float: right;
}
h1{
    font-family: 'Oswald', sans-serif;
  }
  h2{
    font-family: 'Oswald', sans-serif;
  }
  h3{
      font-family: 'Oswald', sans-serif;
}
  p{
    font-family: 'PT Sans', sans-serif;
  }