* {
    margin: 0;
    padding: 0;
   
}


#profilepage h1{
    color: white;
    float: left;
    font-size: 160%;
   margin: 30px;
    margin-top: 100px;
}
#profilepage img{
   
    height: 300px;
    
    
}
#fotoik{
    float: right;
    height: 300px;
    margin: 50px;
    margin-top: 200px;
    margin-bottom: 0px;
}
#projectpage  img:hover{
    border-top: 5px solid #9d4edd;
    border-bottom: 5px solid #9d4edd;
    border-left: 5px solid #9d4edd;
    border-right: 5px solid #9d4edd;
}

#profilepage p{
    color: white;
    float: left;
    font-size: 160%;
    clear: both;   
    margin: 30px;

    
}
#profilepage1{
    height: 100vh;
    width: 100%;
    background-color: #240046;
}
#careerpage{
    height: 100vh;
    width: 100%;
    background-color: #240046;
}
#career1{
    float: left;
   
}
#career1 h1{

    color: white;
    float: left;
  

}
#career1 p{
    color: white;
    clear: both;
   
}
#career2 h2{
    color: white;
    float:right ;
    margin-right: 150px;
}
#career2 p{
    color: white;
    

}
#career2{
    float: right;
    margin-top: 100px;
}

#nav {
    height: 10%;
    background-color: #240046;
    overflow:hidden;
    border: solid black;
}
#Naam {
    float: left;
    font-size: 160%;
    margin: 30px;
    margin-right: 150px;
    color: white;
}
#projecten{
    float: left;
    font-size: 160%;
    margin: 30px;
    margin-right: 150px;
    color: white;
}
#profile {
    float: left;
    font-size: 160%;
    margin: 30px;
    margin-right: 150px;
    
    
}
#profile:hover {
    color: black;
    border-top: 2px solid #9d4edd;
    border-bottom: 2px solid #9d4edd;
    border-left: 2px solid #9d4edd;
    border-right: 2px solid #9d4edd;
}

#career{
    color: white;
    float: left;
    font-size: 160%;
    margin: 30px;
    margin-right: 150px;
    
    
}
#career:hover {
    color: black;
    border-top: 2px solid #9d4edd;
    border-bottom: 2px solid #9d4edd;
    border-left: 2px solid #9d4edd;
    border-right: 2px solid #9d4edd;
}
#projecten:hover {
    color: black;
    border-top: 2px solid #9d4edd;
    border-bottom: 2px solid #9d4edd;
    border-left: 2px solid #9d4edd;
    border-right: 2px solid #9d4edd;
}

#portfolio{
    float: left;
    font-size: 160%;
    margin: 30px;
    margin-right: 150px;
}
#portfolio:hover {
    color: black;
    border-top: 2px solid #9d4edd;
    border-bottom: 2px solid #9d4edd;
    border-left: 2px solid #9d4edd;
    border-right: 2px solid #9d4edd;
}

#contact{
    float: left;
    font-size: 160%;
    margin: 30px;

}
#contact:hover {
    color: black;
    border-top: 2px solid #9d4edd;
    border-bottom: 2px solid #9d4edd;
    border-left: 2px solid #9d4edd;
    border-right: 2px solid #9d4edd;
}
a{
    color: white;
}
.nav-content{
    font-size: 160%;
}
#projectpage{
    height: 100vh;
    width: 100%;
    background-color: #240046;
}

#contactpage{
    height: 100vh;
    width: 100%;
    background-color: #240046;
}
#projectcontent{
    height: 500px;
    width: 400px;
    float: left;
}
#projectcontent1{
    height: 500px;
    width: 400px;
    float: right;
    color: white;
    margin-top: 100px;
}
#projectcontent1 h2{
    margin-left: 120px;
}

#projectwrapper{
    height: 100%;
    width: 100%;
   
  
}
#projectwrapper1{
    height: 500px;
    width: 300px;
    float: left;
    clear:both ;
    margin-top:-250px ;
    margin-left: 200px;
}
#projectwrapper2{
    height: 500px;
    width: 300px;
    float: left;
    
    margin-left: 150px;
    margin-top:-250px ;
}
#nummer{
    position: relative;
    top: 300px;
}
#Instalogo{
 float: left;
margin-right: 50px;
}

#mail{
    float: left;
}
#calllogo{
   
    float: left;
    clear: both;
}
#Instalogo:hover{
    border-top: 5px solid #9d4edd;
    border-bottom: 5px solid #9d4edd;
    border-left: 5px solid #9d4edd;
    border-right: 5px solid #9d4edd;
}
#mail:hover{
    border-top: 5px solid #9d4edd;
    border-bottom: 5px solid #9d4edd;
    border-left: 5px solid #9d4edd;
    border-right: 5px solid #9d4edd;
}
@keyframes rennen {
    from{
        transform: translateX(-1500px);
    }
    to{
        transform: translateX(2000px);
    }
}
#gif {
    animation: rennen 4s ease-in infinite;
    margin-top: 565px;
}
#gif2 {
    animation: rennen 4s ease-in infinite;
    margin-top:450px ;
    clear: both;
    
}
html{
    overflow-x: hidden;
}
#contactenpagina{
    margin-left: 300px;
}
#contactpage h1{
   margin-left: 800px;
}
/* width dikte*/
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track de progressie in de scrollbar*/
  ::-webkit-scrollbar-track {
    background: #5a189a;;
  }
  
  /* Handle gedeelte dat beweegt */
  ::-webkit-scrollbar-thumb {
    background: #9d4edd;;
  }
  
  /* Handle waneer je hovert */
  ::-webkit-scrollbar-thumb:hover {
    background: #9d4edd;;
  }